.contact-container{
    background-color: rgb(12, 12, 12);
    color: white;
    height: 100vh;
    
}

.contact-container h2{
    padding: 20px;
}
.form{
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin:  auto 20%;
    padding: 20px;
} 

.form input{
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    width: 80%;
    background-color: rgb(39, 37, 37);
    box-shadow: 2px 3px black;
    color: aliceblue;
    font-size: 20px;
    outline: none;

}

input::placeholder{
    /* padding: 10px; */
    font-size: 18px;
}

.form textarea{
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 80%;
    margin: 10px;
    background-color: rgb(39, 37, 37);
    box-shadow: 2px 3px black;
    color: white;
    outline: none;
    font-size: 20px;
}

textarea::placeholder{
    /* padding: 10px; */
    font-size: 18px;
}
.buttton{
    color: white;
    margin: auto 30%;
    padding: 10px;
    width: 20%;
    cursor: pointer;
    
}

@media only screen and (max-width: 600px) {
.contact-container h2{
    width: 100vw ;
}

.form{
    width:100vw;
    margin: 20px;
}



}


@media only screen and (min-width: 600px) and (max-width:980px){
    .contact-container{
        width: 1000px;
    }
    
    .form{
        
        margin: auto;
    }
    
    
    
    }



