.contact-container{
    background-color: rgb(12, 12, 12);
    color: white;
    height: 100vh;
    
}

.form{
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin:  auto 20%;
    padding: 20px;
} 

.form input{
    padding: 20px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    width: 80%;
    background-color: rgb(39, 37, 37);
    box-shadow: 2px 3px black;
}

input::placeholder{
    padding: 10px;
    font-size: 18px;
}

.form textarea{
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 80%;
    margin: 10px;
    background-color: rgb(39, 37, 37);
    box-shadow: 2px 3px black;
}

textarea::placeholder{
    padding: 10px;
    font-size: 18px;
}
button{
    color: white;
    margin: auto 30%;
    padding: 10px;
    width: 20%;
    
}