.hero {
  color: white;
  text-align: center;
  margin: 170px;
}

.text {
  padding: 20px;
  font-size: 25px;
  line-height: 2;
}
p {
  font-size: 30px;
}
h1 {
  font-size: 70px;
}

.role {
  padding: 30px;
  font-size: 30px;
}

/* .buttons button {
    
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    margin: 20px;
    /* background-color: steelblue; */
/* }  */
/* 
 .btn {
    color:rgb(94, 177, 245);
    background-color: transparent;
    border: 2px solid rgb(94, 177, 245);
    
} */

.anc {
  color: rgb(94, 177, 245);
  text-decoration: none;
  background-color: transparent;
  border: 2px solid rgb(94, 177, 245);
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  margin: 20px;
}

.anc:hover {
  cursor: pointer;
  background-color: rgb(94, 177, 245);
  color: white;
}

.anch {
  background-color: rgb(94, 177, 245);
  color: white;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  margin: 20px;
  text-decoration: none;
}

.anch:hover {
  background-color: transparent;
  color: rgb(94, 177, 245);
  border: 2px solid rgb(94, 177, 245);
}

@media only screen and (max-width: 600px) {
  .hero {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    padding: 10px;
    font-size: 18px;
    line-height: 1.5;
    /* background-color: red; */
  }

  p {
    font-size: 22px;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
  }
  .role {
    font-size: 20px;
    padding: 10px;
  }
  .buttons {
    padding: 15px;
    margin: auto;
    width: 400px;
  }

  .anc {
    font-size: 16px;
    /* width: 50px; */
  }
  .anch {
    font-size: 16px;
    margin: 10px;
    /* width: 30px; */
  }
}
