.hero{
    /* height:50vh; */
    color: white;
    /* background-color: blue; */
    margin:80px auto 30%;
    text-align: center;
    /* margin:10% auto; */
  
}

/* .hero-bg{
  background-image: url("Images/laptopimg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-color: rgba(0, 0, 0,0.60);
  background-blend-mode:overlay ;
} */

.text{
    padding: 20px;
    font-size: 25px;
    line-height: 2;
    /* background-color: red; */
} 
p{
    font-size: 30px;
}
h1{
    font-size: 70px;
}

.role{
    padding:30px;
    font-size: 30px;
}

.buttons button {
    
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    margin: 20px;
    /* background-color: steelblue; */
}

 .btn{
    color:rgb(94, 177, 245);
    background-color: transparent;
    border: 2px solid rgb(94, 177, 245);
    
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(94, 177, 245);
    color: white;
}

.bttn{
    background-color:rgb(94, 177, 245) ;
    color: white;
    border: none;
}

.bttn:hover{
    background-color: transparent;
    color: rgb(94, 177, 245);
    border: 2px solid rgb(94, 177, 245);
}