

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding: 20px;
    position: sticky;
    left: 0;
    top: 0;
}
.logo{
    padding: 20px;
}
.logo h3{
    font-size: 40px;
    font-weight: 700;
    font-family: cursive;
    color: white;
    box-shadow: 0 3px 5px steelblue;
    text-shadow: 2px 2px steelblue;
}

h3 span{
    color: rgb(94, 177, 245);
    font-family: cursive;
}

.nav-links ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    
    
}

.nav-links a{
    color:white;
    text-decoration: none;
    padding: 10px;
    font-weight:600;
    
    
}
a:hover{
     color:rgb(94, 177, 245);
}


.nav-links li{
    list-style: none;
    padding: 10px;
}

 li:hover{
   
    cursor: pointer;
    border-bottom: 3px solid aliceblue;
    transition: .5s;

}


/* Media Query */